body {
  font-family: "Nunito Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 1.58;
  color: #5f5f63;
}

#brandName {
  width: 5%;
  margin-left: 2%;
  margin-top: 2%;
}

ul {
  margin-left: 25%;
  list-style-type: none;
  text-align: center;
}

.ongletsNav {
  float: left;
  margin-left: 3%;
  font-size: 20px;
}

.ongletsNav a {
  color: black;
  text-decoration: none;
  display: block;
  width: 1%;
}

.ongletsNav a:hover {
  color: black;
  text-decoration: none;
}

#about a {
  color: #e789ac;
  text-decoration: none;
}

#lettre {
  margin-left: 95%;
  margin-top: -100px;
  width: 2%;
}

.aboutTitle {
  font-size: 38px;
  line-height: 1.3;
  font-weight: 300;
  margin-left: 43%;
  margin-top: 10%;
}

#main_image {
  margin-left: 22%;
  margin-top: 2%;
  width: 55%;
}

#text {
  margin-top: 5%;
  margin-left: 25%;
  font-weight: normal;
}

#sousTexte {
  margin-top: 1%;
  margin-left: 25%;
}

#imageA {
  width: 80%;
  margin-left: 10%;
  margin-top: -150px;
}

#conteneur {
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.case {
  background-color: #fafafa;
}

.case h3 {
  margin-left: 35%;
  margin-top: 10%;
}

.case span {
  margin-left: 35%;
  text-align: center;
}

.case a {
  color: #e789ac;
  text-decoration: none;
  text-align: center;
  margin-left: 35%;
}

.case a:hover {
  color: #e789ac;
  text-decoration: none;
}

.case img {
  margin-top: 10%;
  width: 25%;
}

.tema img {
  width: 100%;
}

#underTitre {
  margin-top: 10%;
  margin-left: 43%;
}

#underText {
  font-size: 18px;
  margin-left: 43%;
}
